body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 20px;
}
.high{
    color: rgb(111, 0, 255);
}
.info{
    width: 40%;
    float: left;
    margin-left: 2.5%;
    padding-left: 2.5%
}
.info img{ 
     width: 100%;
     

}
.infoss{
    background-image: url("images/developer=portfolio/top-banner.png");
    border: 3px rgb(255, 0, 55);
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(139, 0, 120),violet);
    padding: 10px ;
    border-radius: 7px;
    color: white;
}
